.changyan{
    width: p2m(1000);
    margin:0 auto p2m(40) auto;
}
.changyan-content{
    width: p2m(914);
    background-color: #fff;
    border: p2m(3) solid #2f79c6;
    border-radius: p2m(27);
    padding:p2m(65) p2m(40);
    margin-bottom: p2m(600);
}